.root {
  padding: 10px;
  color: #fff;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  letter-spacing: 1px;
  font-size: 16px;
  margin-right: 10px;
}

.danger {
  background-color: #c53c2a;
}

.warning {
  background-color: #ffeb3b;
  color: black;
}

.info {
  background-color: rgba(0, 118, 255, 0.9);
}
